# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Database
*.sqlite3

# VS Code settings
.vscode/

.streamlit/
test.py